.App {
  text-align: left;
  border: 1px solid black;
  padding: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Comment {
  padding-left: 1rem;
}

.comments-container {
  width: 60%;
  margin-bottom: 2rem;
  /* padding-left: 2rem; */
  justify-content: left;
  display: flex;
}

.ReactModal__Content {
  position: absolute !important;
  top: 40% !important;
  left: 25% !important;
  right: 25% !important;
  bottom: 40% !important;
  background-color: papayawhip !important;
}